<% content_for(:title, @quest.title) %>
<div class="mx-auto md:w-2/3 w-full mb-8 bg-white p-5 mt-8 bg-opacity-75">
        <% if @quest.state == 'completed' %>
          <%= image_tag 'quest_clear.png', class: "quest_clear_image_show", alt: "hero" %>
        <% end %>
  <br>
  <div class="my-5">
    <h1 class="flex justify-center font-bold text-4xl text-stone-700">「<%= @quest.title %>」<%= t('.hunt') %></h1>
  </div>
  <h3 class="sm:text-2xl text-base font-medium text-current mt-4 mb-3 drop-shadow-lg"><%= t('defaults.requester') %> : <%= @quest.user.name %></h3>
  <% if current_user.own?(@quest) && @quest.state == 'not_completed' %>
    <%= render 'edit_button', quest: @quest %>
  <% else %>
    <%= render 'join_button', quest: @quest if @quest.state == 'not_completed' %>
  <% end %>
  <br>
  <div class="my-5">
    <h3><%= Quest.human_attribute_name(:date_time) %></h3>
    <p class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <% if @quest.date_time.present? %>
        <%= l @quest.date_time %>
      <% else %>
        <%= t('.unknown_date_time') %>
      <% end %>
    </p>
  </div>
  <div class="my-5">
    <h3><%= Quest.human_attribute_name(:place) %></h3>
    <p class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"><%= @quest.place %></p>
  </div>
  <div class="my-5">
    <h3><%= Quest.human_attribute_name(:body) %></h3>
    <div class = "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
    <%= simple_format(@quest.body) %>
    </div>
  </div>

  <br>
  <h1 class="flex justify-center font-bold text-4xl text-stone-700"><%= t('.joins') %></h1>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <% if @joins.present? %>
          <% @joins.each do |join| %>
            <div class="p-4 drop-shadow-2xl">
              <div class="h-full bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-image: url('<%= asset_path('quest.png') %>'); background-repeat: no-repeat; background-position: center; background-size: contain;">
                <h1 class="title-font sm:text-2xl text-base font-medium text-current mt-4 mb-3 drop-shadow-lg"><%= t('.hunter_name') %></h1>
                <h3 class="title-font sm:text-2xl text-base font-medium text-current mt-4 mb-3 drop-shadow-lg"><%= join.user.name %></h3>
              </div>
            </div>
          <% end %>
        <% else %>
          <p><%= t('.no_joins') %></p>
        <% end %>
      </div>
    </div>
  </section>

  <% if current_user.own?(@quest) && @quest.state == 'not_completed' %>
    <%= button_to 'クエストを完了する', toggle_state_quest_path(@quest), method: :patch, class: "inline-flex text-white bg-lime-600 border-0 py-2 px-6 focus:outline-none hover:bg-lime-500 rounded text-lg", data: { turbo_method: "get", turbo_confirm: t('.completed?') } %>
  <% end %>
</div>
</div>
