<div class="mx-auto md:w-2/3 w-full mb-8">
  <h1 class="font-bold text-4xl"><%= t('.title') %></h1>
  <br>
  <div class="my-5">
    <h1 class="flex justify-center font-bold text-4xl"><%= Quest.human_attribute_name(:title) %></h1>
    <br>
    <h1 class="flex justify-center font-bold text-4xl"><%= @quest.title %></h1>
  </div>
  <% if current_user.own?(@quest) %>
    <%= render 'edit_button', quest: @quest %>
  <% else %>
    <%= render 'join_button', quest: @quest %>
  <% end %>
  <br>
  <div class="my-5">
    <h3><%= Quest.human_attribute_name(:date_time) %></h3>
    <p class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <% if @quest.date_time.present? %>
        <%= l @quest.date_time %>
      <% else %>
        <%= t('.unknown_date_time') %>
      <% end %>
    </p>
  </div>
  <div class="my-5">
    <h3><%= Quest.human_attribute_name(:place) %></h3>
    <p class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"><%= @quest.place %></p>
  </div>
  <div class="my-5">
    <h3><%= Quest.human_attribute_name(:body) %></h3>
    <p class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"><%= @quest.body %></p>
  </div>
</div>

