<section class="body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <%
=begin%>
 <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <%= image_tag 'top.jpeg', class: "object-cover object-center rounded", alt: "hero" %>
    </div>
<%
=end%>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center mt-10 mb-10">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium shadow-2xl text-stone-700">CODE HUNTER
      </h1>
      <div>
        <h2 class="mb-8 sm:text-2xl text-lg leading-relaxed text-stone-600">- ともに困難を乗り越えよう -</h2>
      </div>
      <div>
        <%= form_with url: oauths_secret_word_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :secret_word, 'ひみつの合言葉', class:"text-stone-600" %>
            <%= f.password_field :secret_word, class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
          </div>
          <div class="form-group">
            <%= f.submit '確認', class:"inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg text-stone-600" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>