<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="ml-3 text-xl"><%= link_to image_tag('RUNTEQHunterlogo.png'), '/', class:"mr-3 h-6 sm:h-9" %></span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <%= link_to t('quests.index.title'), quests_path, class: 'mr-5 hover:text-gray-900' %>
      <%= link_to t('quests.new.title'), new_quest_path, class: 'mr-5 hover:text-gray-900' %>
      <a class="mr-5 hover:text-gray-900">Third Link</a>
      <a class="mr-5 hover:text-gray-900">Fourth Link</a>
    </nav>
    <%= button_to logout_path, method: :delete do %>
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><%= t('defaults.logout') %>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    <% end %>
  </div>
</header>