<header class="text-gray-100 body-font bg-black">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-100 mb-4 md:mb-0">
      <span><%= link_to image_tag("logo.png", class:"w-40 h-14"), quests_path %></span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <%= link_to t('quests.index.title'), quests_path, class: 'mr-5 hover:text-gray-400' %>
      <%= link_to t('quests.new.title'), new_quest_path, class: 'mr-5 hover:text-gray-400' %>
      <%= link_to t('quests.joins.title'), joins_quests_path, class: 'mr-5 hover:text-gray-400' %>
      <%= link_to t('profiles.show.title'), profile_path, class: 'mr-5 hover:text-gray-400' %>
    </nav>
    <%= button_to logout_path, method: :delete do %>
      <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-500 rounded text-base mt-4 md:mt-0"><%= t('defaults.logout') %>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    <% end %>
  </div>
</header>